html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
  width: 50px;
  height: 50px;
}

.header{
  display: flex;
  background-color: dodgerblue;
  padding: 1rem;
  justify-content: space-between;
  margin-top: -1%;
}

.testo-header {
  color: white;
}

.white-space {
  white-space: nowrap;
}

.pawsome {
  position: relative;
  top: -15%;
}

.left {
  display: flex;
  margin-left: 10%;
  margin-top: 1%;
  gap: 5%;
  margin-bottom: -3%;
}

.right{
  display: flex;
  margin-right: 10%;
  margin-top: 1.5%;
  gap: 20%;
}

.Main {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testo-main {
  text-align: center;
}

.main-content{
  padding: 1rem;
  border: 2px solid red;
}

.contenitore-card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

.image-wrap{
  padding: 0rem;
  margin: 0;
  border: 0;
}

.card-image{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.card{
  padding: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-testo {
  padding: 0.1rem;
  margin: 3%;
}

.footer {
  background-color: rgb(1, 1, 37);
  padding: 1rem;
  padding-bottom: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20%;
}

.contenitore-sezioni {
  display: flex;
  justify-content: center;
  gap: 20%;
  background-color: rgb(1, 1, 37);
  padding: 1rem;
}


.testo-footer{
  color: white;
}

button {
  display: block;
  margin-top: 5%;
  color: white;
  text-align: center;
  background-color: darkcyan;
  border-radius: 5px;
  padding: 9px;
}

.copyright{
  position: relative;
  text-align: center;
  margin-top: 3%;
  padding: 3%;
  border-top: 2px solid white;
}